{
  "display_name": "3. Python 3.6. Deep Learning - local GPU [Productivo]",
  "language": "python", 
  "argv": [
    "{{ SWanaconda3 }}/bin/python", "-m", "ipykernel", "-f", "{connection_file}"
  ],
  "env": {
    "LD_LIBRARY_PATH": "{{ dl.cuda_path }}/cuda/lib64"
  }
}
